@import "../common";

:host {
  max-height: $list-height;
  overflow-y: auto;
  background-color: $white-color;
  box-shadow: $list-box-shadow;
  padding: 20px;

  .list-header {
    @include flex;

    .list-header-item {
      flex-grow: 1;
      font-size: $font-size-big;

      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }
  }

  .rows {
    @include flex;
    flex-grow: 1;
    flex-flow: column;

    .row {
      @include flex;
      flex-grow: 1;
      border-top: 1px solid $grey-color;

      .row-item {
        flex-grow: 1;
        text-align: left;
        padding: 15px 15px 15px 0;
      }
    }
  }
}
