@import "../common";

:host {
  max-height: $list-height;
  overflow-y: auto;
  background-color: $white-color;
  box-shadow: $list-box-shadow;
  padding: $list-padding;


  .list-header {
    display: flex;

    .list-header-item {
      flex: 1 1 0;
      font-size: $font-size-big;
      text-align: left;

      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }
  }

  .rows {
    .row {
      display: flex;
      border-top: 1px solid $grey-color;

      .row-item {
        flex: 1 1 0;
        text-align: left;
        padding-top: $list-row-item-padding;
        padding-bottom: $list-row-item-padding;
        text-overflow: ellipsis;

        &:not(:last-of-type) {
          padding-right: $list-row-item-padding;
        }
      }
    }
  }
}
