@import "../common/common";

:host {

  .section {
    @include section;
  }

  .header-section {
    @include section;

    .title {
      font-size: $font-size-huge;
      margin: 0;
      letter-spacing: $header-section-title-letter-spacing;
    }

    .subtitle {
      margin-top: $subtitle-margin-top;
      font-size: $font-size-big;
      letter-spacing: $header-section-subtitle-letter-spacing;
      opacity: $subtitle-opacity;
    }
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $navbar-container-height;
    box-shadow: $navbar-container-box-shadow;
    background: $white-color;
    z-index: $navbar-z-index;

    &.fixed {
      position: fixed;
      top: 0;
      bottom: unset;
    }

    .navbar-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      color: $black-color;
      letter-spacing: $navbar-item-letter-spacing;
      transition: all 0.5s ease;
      font-size: $font-size-big;

      &:hover {
        cursor: pointer;
        color: white;
        background: $navbar-item-on-hover-background;
        transition: all 0.5s ease;
      }
    }

    .navbar-slider {
      position: absolute;
      bottom: 0;
      width: 0;
      height: $navbar-slider-height;
      background: $aquamarine-color;
      transition: left 0.3s ease;
    }
  }
}

