@mixin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $section-background-color;
  text-align: center;
  padding-top: $section-padding-top;

  .section-header {
    font-size: $font-size-huge;
    letter-spacing: $section-header-letter-spacing;
    padding-bottom: $section-header-padding-bottom;
  }
}

@mixin flex {
  display: flex;
  min-width: 1px;
}


