@mixin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: $section-background-color;
  text-align: center;
  padding-top: $section-padding-top;

  .section-header {
    font-size: $font-size-huge;
    letter-spacing: $section-header-letter-spacing;
    padding-bottom: $section-header-padding-bottom;
  }

  .section-body {
    width: 100vw;
    display: inline-flex;
    justify-content: center;

    .form-shown {
      justify-content: space-around;
    }

    .flex-item {
      flex-grow: 1;
      opacity: 1;
      transition: all 1s;

      &.collapsed {
        flex-grow: 0.00001;
        opacity: 0;
      }

      &.list-flex-item {
        flex-grow: 3;
      }
    }
  }
}

@mixin flex {
  display: flex;
  min-width: 1px;
}

@mixin form {
  .form-container {

    .form-body {
      text-align: right;
      display: flex;
      flex-flow: column;

      .form-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }

    label {
      text-transform: uppercase;
      padding-right: 20px;
      font-size: 28px;
      width: 300px;
    }

    select {
      width: 320px;
      height: 50px;
      font-size: 24px;
      background-color: $white-color;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }

    input {
      width: 320px;
      height: 50px;
      font-size: 24px;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }

    .validation-error {
      color: red;
    }

    .buttons-container {
      display: flex;
      justify-content: center;

      .form-button {
        margin-top: 30px;
        padding: 10px;
      }
    }
  }
}

@mixin form-below-list {

  .section-container {
    .section-body {
      flex-flow: column;

      .form-container {
        margin-top: 40px;
        .form-body {
          .form-row {
            width: 600px;
            margin: 10px auto;
          }
        }
      }
    }
  }
}

@mixin selection-buttons {
  .selected-row-buttons-container {
    margin-top: 20px;

    action-button {
      margin: 0 10px;
    }
  }
}

@mixin display-list {
  .display-list {
    list {
      margin: auto;
      position:fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
    }

    &:after {
      content:'';
      width: 100vw;
      height: 100vh;
      position:fixed;
      top: 0;
      z-index: 100;
      opacity: .6;
      background-color: $dark-grey-color;
    }
  }
}

@mixin section-container {
  .section-container {
    @include section;
    @include form;
    @include selection-buttons;
  }

  @include display-list;
}



