@mixin section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: $section-background-color;
  text-align: center;
  padding-top: $section-padding-top;

  .section-header {
    font-size: $font-size-huge;
    letter-spacing: $section-header-letter-spacing;
    padding-bottom: $section-header-padding-bottom;
  }

  .section-body {
    width: 100vw;
    display: inline-flex;
    justify-content: center;

    .form-shown {
      justify-content: space-around;
    }

    .flex-item {
      flex-grow: 1;
      opacity: 1;
      transition: all 1s;

      &.collapsed {
        flex-grow: 0.00001;
        opacity: 0;
      }

      &.list-flex-item {
        flex-grow: 3;
      }
    }
  }
}

@mixin flex {
  display: flex;
  min-width: 1px;
}

@mixin form {
  .form-container {

    .form-body {
      text-align: right;
      display: flex;
      flex-flow: column;

      .form-row {
        display: flex;
        justify-content: space-between;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }

    label {
      text-transform: uppercase;
      padding-right: 20px;
      font-size: 28px;
      width: 300px;
    }

    select {
      width: 320px;
      height: 50px;
      font-size: 24px;
      background-color: $white-color;
    }

    input {
      width: 320px;
      height: 50px;
      font-size: 24px;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }
    }

    .validation-error {
      color: red;
    }

    .buttons-container {
      display: flex;
      justify-content: center;

      .form-button {
        margin-top: 30px;
        padding: 10px;
      }
    }
  }
}


