$section-background-color: #eee;
$white-color: #fff;
$black-color: #000;
$navy-blue-color: #a9ead7;
$aquamarine-color: #66B1F1;
$grey-color: #aeb7b6;
$dark-grey-color: #636c6b;
$green-color: #2CEE2C;
$red-color: #EE2F22;
