//navbar
$navbar-container-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
$navbar-container-height: 70px;
$navbar-item-on-hover-background: rgba(102, 177, 241, 0.8);
$navbar-item-letter-spacing: 1px;
$navbar-slider-height: 6px;

//section
$section-padding-top: 120px;
$section-subtitle-margin-top: 20px;
$section-subtitle-opacity: 0.6;
$section-header-letter-spacing: 5px;
$section-header-padding-bottom: 50px;
$header-section-title-letter-spacing: 16px;
$header-section-subtitle-letter-spacing: 3px;

//z-indexes
$navbar-z-index: 10;

//font-sizes
$font-size-huge: 48px;
$font-size-very-big: 32px;
$font-size-big: 20px;
$font-size-medium: 16px;
$font-size-small: 12px;

//list
$list-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
$list-rows-height: 330px;
$list-padding: 20px;
$list-row-item-padding: 15px;

//spinner
$spinner-size: 60px;
$spinner-width: 8px;
