//navbar
$navbar-container-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
$navbar-container-height: 70px;
$navbar-item-on-hover-background: rgba(102, 177, 241, 0.8);
$navbar-item-letter-spacing: 1px;
$navbar-slider-height: 6px;

//section
$subtitle-margin-top: 20px;
$subtitle-opacity: 0.6;
$header-section-title-letter-spacing: 16px;
$header-section-subtitle-letter-spacing: 3px;

//z-indexes
$navbar-z-index: 10;

//font-sizes
$font-size-huge: 48px;
$font-size-big: 16px;
