@import '~@angular/cdk/overlay-prebuilt.css';

body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  background: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }
}

